Menampilkan dataset menggunakan library pandas yang terletlak dalam file C:\AI dengan nama Salary_Data

In [118]:
import pandas as pd
dataset = pd.read_csv('C:\\AI\\Salary_Data.csv', sep=';')
print(dataset)

    YearsExperience    Salary
0                11   3934300
1                13   4620500
2                15   3773100
3                20   4352500
4                22   3989100
5                29   5664200
6                30   6015000
7                32   5444500
8                32   6444500
9                37   5718900
10               39   6321800
11               40   5579400
12               40   5695700
13               41   5708100
14               45   6111100
15               49   6793800
16               51   6602900
17               53   8308800
18               59   8136300
19               60   9394000
20               68   9173800
21               71   9827300
22               79  10130200
23               82  11381200
24               87  10943100
25               90  10558200
26               95  11696900
27               96  11263500
28              103  12239100
29              105  12187200

In [ ]:
Menampilkan kolom dalam dataset

In [119]:
dataset.columns

Index(['YearsExperience', 'Salary'], dtype='object')

In [ ]:
membagi data (x) dan target (y)

In [93]:
X = dataset['YearsExperience']
print(X)

0      11
1      13
2      15
3      20
4      22
5      29
6      30
7      32
8      32
9      37
10     39
11     40
12     40
13     41
14     45
15     49
16     51
17     53
18     59
19     60
20     68
21     71
22     79
23     82
24     87
25     90
26     95
27     96
28    103
29    105
Name: YearsExperience, dtype: int64

In [ ]:
Menampilkan informasi tentang dataset

In [19]:
print (dataset.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     int64
 1   Salary           30 non-null     int64
dtypes: int64(2)
memory usage: 612.0 bytes
None

In [20]:
y = dataset['Salary']
print(y)

0      3934300
1      4620500
2      3773100
3      4352500
4      3989100
5      5664200
6      6015000
7      5444500
8      6444500
9      5718900
10     6321800
11     5579400
12     5695700
13     5708100
14     6111100
15     6793800
16     6602900
17     8308800
18     8136300
19     9394000
20     9173800
21     9827300
22    10130200
23    11381200
24    10943100
25    10558200
26    11696900
27    11263500
28    12239100
29    12187200
Name: Salary, dtype: int64

In [ ]:
membagi data menjadi 80:20. Data train 80% dan data test 20%

In [111]:
import sklearn
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=1)

In [ ]:
menghitung jumlah elemen dalam array x

In [112]:
len(x_test)

6

In [ ]:
menghitung jumlah elemen dalam array y

In [113]:
len(y_train)

24

In [ ]:
membuat model Decision Tree Classifier menggunakan library scikit learn

In [114]:
from sklearn import tree

clf = tree.DecisionTreeClassifier()

In [ ]:
tahap proses cross validasi

In [115]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import KFold

# Ubah bentuk X menjadi dua dimensi
X = X.reshape(-1, 1)
# Pilih model yang ingin Anda gunakan
model = LinearRegression()

# Tentukan skema validasi silang
kf = KFold(n_splits=5, shuffle=True, random_state=42)


# Hitung skor validasi silang
scores = cross_val_score(model, X, y, cv=kf)

In [ ]:
Melihat tingkat akurasi pengujian setiap volt dataset

In [116]:
scores

array([0.90244618, 0.96846325, 0.91621488, 0.98161851, 0.84333552])